
    <header class="header " data-header>
        <div class="container">
            <div class="overlay " data-overlay></div>

            <a href="#" class="logo"><img src="https://i.postimg.cc/JnqY24GW/logo.png" alt="logo image"></a>

            <!-- <button class="menu-open-btn" data-menu-open-btn><ion-icon name="menu-outline"></ion-icon></button> -->

            <nav class="navbar " data-navbar>
                <!-- <button class="menu-close-btn" data-menu-close-btn><ion-icon name="close-outline"></ion-icon></button> -->

                <a href="#" class="logo"><img src="https://i.postimg.cc/JnqY24GW/logo.png" alt="logo image"></a>

                <ul class="navbar-list">
                    <li><a href="#" class="navbar-link">Home</a></li>
                    <li><a href="#" class="navbar-link">About</a></li>
                    <li><a href="#" class="navbar-link">Service</a></li>
                    <li><a href="#" class="navbar-link">Blog</a></li>
                    <li><a href="#" class="navbar-link">Contact</a></li>
                </ul>

               <a href="/login"> <button class="btn btn-secondary" >Get Started</button></a>
            </nav> 
        </div>
    </header>

    <main>
        <article>
            <section class="hero">
                <div class="container">
                    <figure class="hero-banner">
                        <img src="https://i.postimg.cc/QthKMjSC/hero-banner.png" alt="A young lady sits, holding a pen and a notebook">
                    </figure>

                    <div class="hero-content">
                        <h1 class="h1 hero-title">Start your Future Education</h1>

                        <p class="section-text">Explore exciting career paths and gain valuable skills through hands-on experiences and expert guidance</p>

                        <button class="btn btn-primary">Discover More</button>
                    </div>
                </div>
            </section>

            <section class="about">
                <div class="container">
                    <figure class="about-banner">
                        <img src="https://i.postimg.cc/9MBDssd9/about-banner.png" alt="Eduland students" class="about-img">
                        <img src="https://i.postimg.cc/85T5dw2z/about-vector.png" alt="Vector line art" class="vector-line">

                        <!-- <button class="play-btn"><ion-icon name="play"></ion-icon></button> -->
                    </figure>

                    <div class="about-content">
                        <h2 class="h2 about-title">We Help to Create Possibility & Success in Your Career!</h2>

                        <p class="section-text">We believe in unlocking your potential and helping you achieve career success. Whether you're just starting out or looking for a change, we're here to empower you to reach your full potential. Let's create possibility and success together!</p>

                        <button class="btn btn-primary">Get Started Today</button>
                    </div>
                </div>
            </section>

            <section class="departments">
                <div class="container">
                    <img src="https://i.postimg.cc/dtw6w5Js/departmets-vector.png" alt="Vector line art" class="vector-line">

                    <h2 class="h2 departments-title">We Have Most of Popular Departments</h2>

                    <ul class="departments-list">
                        <li>
                            <div class="departments-card">
                                <a href="#" class="card-banner">
                                    <figure><img src="https://i.postimg.cc/02kYLrCr/depertment-1.png" alt="Artificial Intelligence"></figure>
                                </a>

                                <a href="#"><h3 class="h3 card-title">Artificial Intelligence</h3></a>

                                <p class="card-text">Learn a groundbreaking technology that empowers machines to perform tasks that typically require human intelligence</p>

                                <a href="#" class="card-link">
                                    <span>Learn More</span>
                                    <!-- <ion-icon name="arrow-forward"></ion-icon> -->
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="departments-card">
                                <a href="#" class="card-banner">
                                    <figure><img src="https://i.postimg.cc/tCvxwkTm/depertment-2.png" alt="Civil Engineering"></figure>
                                </a>

                                <a href="#"><h3 class="h3 card-title">Civil Engineering</h3></a>

                                <p class="card-text">Embark on a fascinating field that shapes the world around us</p>

                                <a href="#" class="card-link">
                                    <span>Learn More</span>
                                    <!-- <ion-icon name="arrow-forward"></ion-icon> -->
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="departments-card">
                                <a href="#" class="card-banner">
                                    <figure><img src="https://i.postimg.cc/mkJTNPLV/depertment-3.png" alt="Business Studies"></figure>
                                </a>

                                <a href="#"><h3 class="h3 card-title">Business Studies</h3></a>

                                <p class="card-text">Join a dynamic and engaging field that explores the intricacies of how businesses operate and thrive</p>

                                <a href="#" class="card-link">
                                    <span>Learn More</span>
                                    <!-- <ion-icon name="arrow-forward"></ion-icon> -->
                                </a>
                            </div>
                        </li>
                    </ul>

                    <button class="btn btn-primary">View All Departments</button>
                </div>
            </section>

            <section class="instructor">
                <div class="container">
                    <img src="https://i.postimg.cc/sDzgkvGt/instructor-vactor-1.png" alt="Vector line art" class="vector-line">

                    <div class="title-wrapper">
                        <h2 class="h2 instructor-title">Introducing Our Famous Teachers</h2>
                        <button class="btn btn-primary">View All Teachers</button>
                    </div>

                    <ul class="instructor-list">
                        <li>
                            <div class="instructor-card">
                                <figure class="card-banner">
                                    <img src="https://i.postimg.cc/fbyL8pSy/instructor-1.png" alt="Shaapir Prio">
                                </figure>

                                <a href="#"><h3 class="card-title">Shaapir Prio</h3></a>

                                <p class="card-subtitle">Assistant Director</p>

                                <ul class="card-social-list">
                                    <li><a href="#" class="card-social-link"></a></li>
                                    <li><a href="#" class="card-social-link"></a></li>
                                    <li><a href="#" class="card-social-link"></a></li>
                                    <li><a href="#" class="card-social-link"></a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="instructor-card">
                                <figure class="card-banner">
                                    <img src="https://i.postimg.cc/wjSPrs7N/instructor-2.png" alt="Sellina">
                                </figure>

                                <a href="#"><h3 class="card-title">Sellina</h3></a>

                                <p class="card-subtitle">Director</p>

                                <ul class="card-social-list">
                                    <!-- <li><a href="#" class="card-social-link"></a></li>
                                    <li><a href="#" class="card-social-link"></ion-icon></a></li>
                                    <li><a href="#" class="card-social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                                    <li><a href="#" class="card-social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li> -->
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="instructor-card">
                                <figure class="card-banner">
                                    <img src="https://i.postimg.cc/Jn8FrV34/instructor-3.png" alt="John Smith">
                                </figure>

                                <a href="#"><h3 class="card-title">John Smith</h3></a>

                                <p class="card-subtitle">Assistant Director</p>

                                <ul class="card-social-list">
                                    <!-- <li><a href="#" class="card-social-link"><ion-icon name="logo-google"></ion-icon></a></li>
                                    <li><a href="#" class="card-social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
                                    <li><a href="#" class="card-social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                                    <li><a href="#" class="card-social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li> -->
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <img src="https://i.postimg.cc/4dn8P6gV/instructor-vactor-2.png" alt="Vector line art" class="vector-line">
                </div>
            </section>

            <section class="cta">
                <div class="container">
                    <div class="title-wrapper">
                        <h2 class="h2 cta-title">
                            <span>Create Free Account & Get Register</span>
                            <img src="https://i.postimg.cc/13Jcd8MH/cta-vector.png" alt="Vector arrow art" class="vector-line">
                        </h2>

                        <button class="btn btn-primary">Register Now</button>
                    </div>

                    <div class="cta-banner"></div>
                </div>
            </section>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-brand">
                    <a href="#" class="logo"><img src="https://i.postimg.cc/JnqY24GW/logo.png" alt="Eduland logo"></a>

                    <p class="footer-text">Start Your Future Education! discover your calling and achieve your goals!</p>

                    <ul class="social-list">
                        <li><a href="#" class="social-link"></a></li>
                        <!-- <li><a href="#" class="social-link"></ion-icon></a></li>
                        <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li> -->
                    </ul>
                </div>

                <div class="footer-link-box">
                    <ul class="footer-list">
                        <li><p class="footer-link-title">Services</p></li>
                        <li><a href="#" class="footer-link">Design</a></li>
                        <li><a href="#" class="footer-link">Development</a></li>
                        <li><a href="#" class="footer-link">Marketing</a></li>
                        <li><a href="#" class="footer-link">Content Writing</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li><p class="footer-link-title">Company</p></li>
                        <li><a href="#" class="footer-link">About</a></li>
                        <li><a href="#" class="footer-link">Terms</a></li>
                        <li><a href="#" class="footer-link">Privacy Policy</a></li>
                        <li><a href="#" class="footer-link">Careers</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li><p class="footer-link-title">Job Info</p></li>
                        <li><a href="#" class="footer-link">Select</a></li>
                        <li><a href="#" class="footer-link">Services</a></li>
                        <li><a href="#" class="footer-link">Payment</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li class="contact-item">
                            <span>Call: </span>
                            <a href="tel:5463876387" class="contact-link">546 3876 387</a>
                        </li>

                        <li class="contact-item">
                            <span>Email: </span>
                            <a href="mailto:example@gmail.com" class="contact-link">example</a>
                        </li>

                        <li class="contact-item">
                            <span>Address: </span>
                            <a href="#" class="contact-link"><address>San Francisco, USA</address></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">&copy; 2025  <a href="#"><span>ULTRA CODE</span></a>. All rights reserved</p>
            </div>
        </div>
    </footer>

    <a href="#top" class="go-top " data-go-top></a>

    <script src="main.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    'use strict';

const navOpenBtn = document.querySelector('[data-menu-open-btn]');
const navCloseBtn = document.querySelector('[data-menu-close-btn]');
const overlay = document.querySelector('[data-overlay]');
const navbar = document.querySelector('[data-navbar]');

const navElemArr = [navOpenBtn, navCloseBtn, overlay];

// Activating Mobile Menu

for(let i = 0; i < navElemArr.length; i++) {
    navElemArr[i].addEventListener('click', function() {
        navbar.classList.toggle('active');
        overlay.classList.toggle('active');
    });
}

// Activating Sticky Header 

const header = document.querySelector('[data-header]');
window.addEventListener('scroll', function() {
    window.scrollY >= 20 ? header.classList.add('active') : header.classList.remove('active');
});

// Disabling Go-top on top

const goTopBtn = document.querySelector('[data-go-top]');

window.addEventListener('scroll', function () { this.window.scrollY >= 800 ? goTopBtn.classList.add('active') : goTopBtn.classList.remove('active'); });
</script>